.container {
  max-width: 96rem;
  margin: auto;
}

.header {
  text-align: center;
  padding: 1rem;
  border-bottom: solid 1px #ddd;
}

.header__title {
  color: #444;
  font-size: 3.2rem;
  font-weight: bold;
}