.container {
  max-width: 80rem;
  margin: auto;
}

.header {
  text-align: center;
  padding: 1rem;
  border-bottom: solid 1px #ddd;
}

.header__title {
  color: #444;
  font-size: 3.2rem;
  font-weight: bold;
}

.content {
  display: flex;
}

.content__box {
  background-color: cornflowerblue;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}